@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "GetPostsbyid"; }

@model Post

<div style="padding-top: 250px;">

    <h1>@Model.Content</h1>

    <h1>@Model.AuthorName</h1>

    <h1>@Model.PublishDate</h1>

    <h1>@Model.CommentId</h1>

</div>