
@{
}

@model List<Post>


@foreach (var item in Model)
{
    <h2 style="padding-top:250px;">@item.Title</h2>

    @if (item.Content.Length > 250)
    {
        <h2>@item.Content.Substring(0, 250) </h2>

        <a href="~/Home/GetPostsbyid/@item.Id"> <h5> @item.Content </h5></a> <span>@item.PublishDate</span>
    }
}
